@import "../../../../common/styles/mixins";

.giftMobileContainer {
  display: flex;
  align-items: center;
  span {
    @include text(400, 13px, 16px, 'Montserrat');
    text-transform: uppercase;
    margin-left: 5px;
  }
}