@import "../../common/styles/mixins";

.mainContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 1;

  .welbex {
    display: flex;
    flex-direction: column;
    width: 400px;

    span {
      @include text(400, 48px, 58px, 'Montserrat');

      b {
        background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    p {
      width: 300px;
      margin-top: 30px;
      @include text(400, 18px, 22px, 'Montserrat');
      opacity: .8;
    }
  }

  @media screen and (max-width: 1020px) {
    justify-content: center;
  }
}