@import "../../common/styles/mixins";

.mainContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
  position: relative;
  img {
    position: fixed;
    display: none;
    @media screen and (max-width: 750px) {
      display: inline-block;
    }
  }

  .welbex {
    display: flex;
    flex-direction: column;
    max-width: 300px;

    span {
      @include text(400, 48px, 58px, 'Montserrat');

      b {
        background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      @media screen and (max-width: 480px) {
        @include text(400, 34px, 40px, 'Montserrat');
      }
    }

    p {
      width: 270px;
      @include text(400, 18px, 22px, 'Montserrat');
      opacity: .8;
    }

  }

  @media screen and (max-width: 1020px) {
    justify-content: center;
    flex-direction: column;
    row-gap: 39px;
    padding: 0 41px;
  }

  @media screen and (max-width: 970px) {
    margin-bottom: 30px;
  }
  @media screen and (max-width: 480px) {
    padding: 0 17px;
  }

}