@import "../../common/styles/variables";
@import "../../common/styles/mixins";

.headerContainer {
  display: flex;
  width: 75%;
  padding: 41px 0;
  justify-content: space-between;
  .company {
    width: 141px;

    .logo {
      display: flex;
      column-gap: 7px;
      align-items: center;
    }

    p {
      @include text(300, 10px, 12px, 'Montserrat');
      opacity: 0.6;
    }
  }

  .navigate {
    display: flex;
    column-gap: 25px;

    a {
      text-decoration: none;
      @include text(500, 16px, 27px, 'Inter');
    }
  }

  .contacts {
    display: flex;
    column-gap: 40px;

    .number {
      @include text(500, 16px, 27px, 'Inter');
    }

    .socialLogos {
      display: flex;
      column-gap: 30px;
      margin-top: 5px;
    }
  }
}