@import "../../common/styles/variables";
@import "../../common/styles/mixins";

.headerContainer {
  display: flex;
  width: 100%;
  padding: 41px 0 0 0;
  justify-content: space-between;
  z-index: 1;

  .leftBlock {
    display: flex;
    column-gap: 60px;

    .company {
      width: 141px;

      .logo {
        display: flex;
        column-gap: 7px;
        align-items: center;

      }

      p {
        @include text(300, 10px, 12px, 'Montserrat');
        opacity: 0.6;
      }

      @media screen and (max-width: 970px) {
        display: none;
      }
    }

    .navigate {
      display: flex;
      column-gap: 25px;
      a {
        text-decoration: none;
        @include text(500, 16px, 27px, 'Inter');
        @media screen and (max-width: 480px) {
          @include text(400, 13px, 21px, 'Inter');
        }
      }
      .certificates {
        @media screen and (max-width: 584px) {
          display: none;
        }
      }
      @media screen and (max-width: 970px) {
        justify-content: space-between;
        width: 100%;
        column-gap: 0;
      }
    }

    @media screen and (max-width: 1330px) {
      justify-content: space-between;
      width: 100%;
    }
  }


  .contacts {
    display: flex;
    column-gap: 40px;

    .number {
      @include text(500, 16px, 27px, 'Inter');
      cursor: pointer;
    }

    @media screen and (max-width: 1330px) {
      display: none;

    }
  }
  @media screen and (max-width: 750px) {
    background-color: $backgroundColor;
    padding: 17px 41px;
  }
  @media screen and (max-width: 480px) {
    padding: 17px 17px;
  }
}