@import "../../styles/mixins";
@import "../../styles/variables";

.buttonContainer {
  margin-top: 60px;

  .button {
    width: 262px;
    height: 61px;
    background-color: #4077F3;
    border: none;
    @include text(500, 16px, 19px, 'Inter');
    cursor: pointer;
  }
}

