@import "../../common/styles/mixins";
@import "../../common/styles/variables";

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  row-gap: 41px;
  margin-bottom: 20px;
  z-index: 1;

  .footerContent {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .aboutCompany {
      display: flex;
      justify-content: space-between;
      column-gap: 100px;
      .menu {
        display: flex;
        column-gap: 50px;
        @media screen and (max-width: 480px) {
          column-gap: 21px;
        }
      }
      @media screen and (max-width: 970px) {
        column-gap: 0;
        flex-direction: column;
        width: 100%;
        row-gap: 41px;
      }
    }


    @media screen and (max-width: 970px) {
      flex-wrap: wrap;
      row-gap: 41px;
    }
  }

  .confidential {
    display: flex;
    flex-direction: column;
    text-align: end;

    span {
      @include text(400, 12px, 15px, 'Montserrat');
    }

    a {
      @include text(400, 12px, 15px, 'Montserrat');
      text-decoration: underline;
    }
    @media screen and (max-width: 970px) {
      text-align: start;
    }
  }
  @media screen and (max-width: 750px) {
    background-color: $backgroundColor;
    padding: 50px 41px 0 41px;
  }
  @media screen and (max-width: 480px) {
    padding: 50px 17px 0 17px;
  }
}



