@import "../../common/styles/mixins";
@import "../../common/styles/variables";

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 75%;
  row-gap: 41px;
  margin-bottom: 20px;
  .footerContent {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .lists {
      display: flex;
      justify-content: space-between;
      column-gap: 100px;

      .menu {
        display: flex;
        column-gap: 50px;

        ul {

          list-style-type: none;
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;

          row-gap: 10px;

          .header {
            letter-spacing: 0.05em;
            text-transform: uppercase;
            @include text(700, 14px, 17px, 'Inter');
            opacity: .4;
            margin-bottom: 10px;
            height: 17px;
          }

          li {
            @include text(400, 16px, 19px, 'Inter');
            text-transform: none;
          }
        }
      }

      ul {

        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        row-gap: 10px;

        .header {
          letter-spacing: 0.05em;
          text-transform: uppercase;
          @include text(700, 14px, 17px, 'Inter');
          opacity: .4;
          margin-bottom: 10px;
          height: 17px;
        }

        li {
          @include text(400, 16px, 19px, 'Inter');
          text-transform: none;
        }
      }
    }

    .contacts {
      ul {

        list-style-type: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        text-align: end;

        .header {
          letter-spacing: 0.05em;
          text-transform: uppercase;
          @include text(700, 14px, 17px, 'Inter');
          opacity: .4;
          height: 17px;
        }

        li {
          @include text(400, 16px, 19px, 'Inter');
          text-transform: none;

          .socialLogos {
            display: flex;
            justify-content: end;
            column-gap: 12px;
          }
        }
      }
    }
  }

  .confidential {
    display: flex;
    flex-direction: column;
    text-align: end;
    span {
      @include text(400, 12px, 15px, 'Montserrat');
    }
    a {
      @include text(400, 12px, 15px, 'Montserrat');
      text-decoration: underline;
    }
  }
}