@import "common/styles/variables";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $backgroundColor;
  justify-content: space-between;
  height: 100vh;
}