@import "common/styles/variables";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $backgroundColor;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  padding: 0 150px;
  @media screen and (max-width: 970px) {
    padding: 0 70px;
  }

  @media screen and (max-width: 970px) {
    padding: 0 70px;
    row-gap: 50px;
  }
  @media screen and (max-width: 750px) {
    padding: 0 41px;
    row-gap: 50px;
  }
  @media screen and (max-width: 480px) {
    padding: 0 17px;
  }
}