@import "../../../common/styles/mixins";

.giftsContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: right;

  .title {
    @include text(400, 18px, 22px, 'Inter');
    margin-bottom: 39px;

    b {
      background: linear-gradient(92deg, #FCB045 27.14%, #FD1D1D 121.36%), #E4E5EA;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }

    @media screen and (max-width: 1020px) {
      text-align: left;
      margin-bottom: 20px;
    }
  }

  .giftsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 20px;
    @media screen and (max-width: 1020px) {
      display: none;
    }
  }

  .giftsListMobile {
    display: none;

    @media screen and (max-width: 1020px) {
      display: flex;
      flex-wrap: wrap;
      row-gap: 12px;
      column-gap: 12px;
      opacity: .7;
    }
  }

  @media screen and (max-width: 1020px) {
    text-align: left;
  }
}